terragrunt/aws/cloud_asset_inventory/state-machines/cartography.json.tmpl
{
  "Comment": "Run daily asset inventory of cloud assets",
  "TimeoutSeconds": 86400,
  "StartAt": "Get AWS accounts",
  "States": {
    "Get AWS accounts": {
      "Type": "Task",
      "Next": "Map",
      "Parameters": {
        "Name": "/cartography/asset_inventory_account_list"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "accounts.$": "States.StringToJson($.Parameter.Value)"
      }
    },
    "Map": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "Pass",
        "States": {
          "Pass": {
            "Type": "Pass",
            "Next": "Cartography",
            "Parameters": {
              "account.$": "$"
            }
          },
          "Cartography": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "Cluster": "${CARTOGRAPHY_CLUSTER}",
              "LaunchType": "FARGATE",
              "TaskDefinition": "${CARTOGRAPHY_TASK_DEF}",
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "${CARTOGRAPHY_SERVICE_NAME}",
                    "Environment": [
                      {
                        "Name": "AWS_ACCOUNT",
                        "Value.$": "$.account"
                      },
                      {
                        "Name": "AWS_CONFIG_FILE",
                        "Value": "/config/role_config"
                      },
                      {
                        "Name": "NEO4J_URI",
                        "Value": "bolt://neo4j.internal.local:7687"
                      },
                      {
                        "Name": "NEO4J_USER",
                        "Value": "neo4j"
                      },
                      {
                        "name" : "AWS_BEST_EFFORT_MODE",
                        "value" : "true"
                      }
                    ]
                  }
                ]
              },
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "SecurityGroups": ["${SECURITY_GROUPS}"],
                  "Subnets":[${SUBNETS}]
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["ECS.AmazonECSException"],
                "IntervalSeconds": 300,
                "BackoffRate": 2.0,
                "MaxAttempts": 4
              }
            ],
            "Catch": [{"ErrorEquals": [ "States.ALL" ], "ResultPath": null, "Next": "Handle Failure"}],
            "End": true
          },
          "Handle Failure": {
            "Type": "Pass",
            "End": true
          }
        }
      },
      "MaxConcurrency": 1,
      "ItemsPath": "$.accounts",
      "ResultPath": null,
      "Next": "Neo4J Sentinel Forwarder"
    },
    "Neo4J Sentinel Forwarder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster" : "${CARTOGRAPHY_CLUSTER}",
        "TaskDefinition" : "${SENTINEL_NEO4J_FORWARDER_TASK_DEF}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": ["${SECURITY_GROUPS}"],
            "Subnets":[${SUBNETS}]
          }
        }
      },
      "End": true
    }
  }
}